
.main {
	border: 0.5px solid red;	
	margin-top: 5px;
}


.container-main{
	background-image: url(../../media/foto/bike.JPG);
	opacity: 0.8;
	display: inline-block;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	opacity: 0.8;
	justify-content: center;
	display: inline-block;
}

.main__body{
	color: #;
}

